*{
    box-sizing: border-box;
    word-break: break-all;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
}

ion-icon:hover {
    cursor: pointer;
}

input:focus {
    outline: none;
}

::placeholder {
    font-size: 19px;
    font-style: italic;
    color: #BABABA;
}

.topbar {
    background-color: #EC362D;
    width: 100%;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.topbar>h1 {
    font-size: 37px;
    font-weight: 700;
    color: #FFFFFF;
}

.logo:hover {
    cursor: pointer;
}

.container {
    margin-top: calc(69px + 77px);
    margin-bottom: 69px;
    width: 1051px;
    margin-left: auto;
    margin-right: auto;
}

.container h3 {
    font-size: 20px;
    font-weight: 700;
}

/* GENERAL QUIZZ STYLE */

.Quizzes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;
}

.Quizz:hover {
    cursor: pointer;
}

.Quizzes .Quizz {
    position: relative;
    width: 340px;
    height: 181px;
    margin-bottom: 12px;
    margin-right: 5px;
    margin-left: 5px;
}
.Quizzes .Quizz>img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.Quizzes .Quizz .img_bgd{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.Quizzes .Quizz>div {
    position: absolute;
    bottom: 10%;
    left: 10%;
    width: 80%;
    word-wrap: break-word;
}

.Quizzes .Quizz h1 {
    font-size: 19px;
    color: #FFFFFF;
}


/* GENERAL QUIZZ STYLE */

/* USER QUIZZES WHEN EMPTY*/

.userQuizzesEmpty {
    width: 100%;
    height: 181px;
    margin-bottom: 77px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed #D4D4D4;
    border-radius: 5px;
}

.userQuizzesEmpty>div {
    width: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.userQuizzesEmpty>div>p {
    font-size: 20px;
    color: #B9B9B9;
}

.userQuizzesEmpty .button {
    width: 151px;
    height: 40px;
    border: 1px dashed #EC362D;
    border-radius: 50px;
    margin-top: 34px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.userQuizzesEmpty .button h1 {
    font-size: 21px;
    color: #EC362D;
}

.userQuizzesEmpty .button:hover {
    cursor: pointer;
    transform: translate(1px, 1px);
}

/* USER QUIZZES WHEN EMPTY*/

/* USER QUIZZES WHEN THERE IS AT LEAST ONE QUIZZ*/

.userQuizzesFilled {
    width: 100%;
    margin-bottom: 48px;
}

.userQuizzesFilled>div {
    display: flex;
    align-items: center;
}

.userQuizzesFilled ion-icon {
    font-size: 40px;
    margin-left: 16px;
    color: #EC362D;
}

/* USER QUIZZES WHEN THERE IS AT LEAST ONE QUIZZ*/


/* SECOND SCREEN */
aside{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second_screen{
    margin: 69px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner{
    width: 100%;
    height: 227px;
    position: relative;
}

.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner .img_bgd{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.banner .title{
    position: absolute;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 39px;
    line-height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFF;
    padding: 87px 0 ;
}

/* .questions, {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.question, .level {
    width: 759px;
    /* height: 676px; */
    height: fit-content;
    background-color: #FFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin: 42px 0;
    padding:28px 37px 36px 28px;
}

.question .title {
    width: 689px;
    height: 137.99px;
    background-color: #434CA0;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFF;
    margin: 0 0 20px 0;
}

.questions .answers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.answers img{
    max-width: 329.91px;
    max-height: 175.2px;
    width: auto;
    height: auto;
    object-fit: cover;
    cursor: pointer;
}

.answers .text{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #000;
    margin: 10px 0 19px 0;
    max-width: 250px;
    width: auto;
    height: fit-content;
}

.answers.answered .answer.correctFalse .text{
    color: #FF4B4B;
}

.answers.answered .answer.correctTrue .text{
    color: #009C22;
}

.level{
    height: 430px;
    padding: 18px;
    margin-top: 0;
    margin-bottom: 57px;
}

.level .content{
    display: flex;
}

.level .title{
    background-color: #EC362D;
    width: 727px;
    height: 99px;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 18px;
}

.level .text{
    width: 328px;
    height: fit-content;
    font-weight: 700;
    font-size: 19px;
    line-height: 132%;
    /* or 25px */
    color: #484848;
    margin: 0 0 4px 21px;
    text-align: justify;
}

.level img {
    width: 364px;
    height: 273px;
    object-fit: cover;
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons .restart{
    width: 220.32px;
    height: 44px;
    background-color: #EC362D;
    border-radius: 15px;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFF5F4;
    cursor: pointer;
}

.buttons .home{
    width: 219.64px;
    height: 44px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #818181;
    cursor: pointer;
}

.whitish{
    opacity: 0.3;
}

/* SECOND SCREEN */

/* QUIZZ CREATION */

.QuizzMaking {
    width: 600px;
    height: auto;
    margin-top: calc(69px + 71px);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.QuizzMaking h3, h2 {
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 24px;
}

.QuizzMaking h2 {
    font-size: 20px;
    margin-top: 28px;
}

.QuizzMaking h4 {
    margin-top: 20px;
    font-size: 21px;
    color: #818181;
}

.QuizzMaking h4:hover {
    cursor: pointer;
}

.QuizzMaking .button {
    width: 324px;
    height: 54px;
    margin-top: 85px;
    font-size: 21px;
    color: #FFF5F4;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    color: #FFF5F4;
    background-color: #EC362D;

}

.QuizzMaking .button:hover {
    cursor: pointer;
    transform: translate(1px, 1px);
}

.QuizzMakingChildren {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.QuizzMaking .QuizzInfo {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    padding: 20px 16px;
}

.QuizzInfo {
    width: 100%;
}

.QuizzInfo input {
    margin-bottom: 8px;
    height: 46px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    font-size: 19px;
    padding-left: 23px;
}

.QuizzInfo input:last-child {
    margin-bottom: 0;
}

.QuizzMaking .question,
.QuizzMaking .level {
    width: 100%;
    height: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.QuizzMaking .question,
.QuizzMaking .level ion-icon {
    font-size: 30px;
}

.QuizzMaking .level {
    margin-top: 40px;
}

.quizzPreview {
    position: relative;
    margin-top: 30px;
    width: 500px;
    height: 266px;
    margin-bottom: -40px;
}

.quizzPreview>img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit:cover;
}

.quizzPreview .img_bgd {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.quizzPreview>div {
    position: absolute;
    bottom: 10%;
    left: 5%;
    width: 80%;
    word-wrap: break-word;
}

.quizzPreview h1 {
    font-size: 23px;
    color: #FFFFFF;
}

.wrongAnswers, .rightAnswer {
    display: flex;
    flex-direction: column;
}

.wrongAnswers > input:nth-child(even) {
    margin-bottom: 30px;
}

/* QUIZZ CREATION */

.hidden {
    display: none;
}

@media (max-width: 1100px){

    .topbar{
        width: 100%;
    }

    .container {
        width: 100%;
        margin-top: calc(69px + 31px);
    }

    .userQuizzesEmpty {
        margin-bottom: 34px;
        width: 92%;
        margin-left: auto;
        margin-right: auto;
    }

    .userQuizzesEmpty>div {
        width: 100%;
    }

    .Quizzes {
        justify-content: space-around;
        margin-top: 12px;
    }

    /* .Quizz{
        width: 100%;
    } */

    .AllQuizzes>h3 {
        margin-left: 5%;
    }

    .userQuizzesFilled {
        margin-bottom: 38px;
    }

    .userQuizzesFilled>div:first-child {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .banner .title{
        font-size: 19px;
        line-height: 22px;
    }
    
    .second_screen,.questions{
        width: 100%;
    }

    .question, .level{
        width: 100%;
        height: fit-content;
        padding: 18px;
        margin: 24px 0;
    }

    .question .title, .level .title {
        width: 100%;
        margin: 0 0 13px 0;
        font-size: 19px;
        line-height: 22px;
        padding: 20px 16px 15px 16px;
    }

    .answers img{
        max-width: 163px;
        max-height: 113px;
        object-fit: cover;
        width: auto;
        height: auto;
    }
    .answers .text {
        font-size: 13px;
        line-height: 15px;
        max-width: 163px;
        width: auto;
        height: fit-content;
    }

    .level img{
        width: 100%;
        height: auto;
    }

    .level .text{
        width: 100%;
        margin: 9px 0 0 0;
    }

    .level .content{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* QUIZZ CREATION */
    .QuizzMaking {
        width: 100%;
        margin-top: calc(69px + 37px);
    }

    .QuizzMaking .button {
        margin-top: 29px;
    }

    .quizzPreview {
        margin-top: 30px;
        margin-bottom: 30px;
        width: 90%;
        height: 181px;
        margin-left: auto;
        margin-right: auto;
    }

    /* QUIZZ CREATION */
}